<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giao.ordersystem">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

     <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <service android:enabled="true"
             android:name=".BluetoothService">
         </service>
        <activity
            android:launchMode="singleTask"
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Order"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.giao.ordersystem.Order" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.giao.ordersystem.Menu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tables"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="com.giao.ordersystem.Tables" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="com.giao.ordersystem.Setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddDish"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="com.giao.ordersystem.AddDish" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dish_Details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.giao.ordersystem.Dish_Details" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.giao.ordersystem.OrderInfo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
        android:name=".Order_Details_Category"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="com.giao.ordersystem.Order_Details_Category" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
         <activity
        android:name=".Order_Details"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="com.giao.ordersystem.Order_Details" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name=".Table_Move"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.giao.ordersystem.Table_Move" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <activity
        android:name=".Table_Pay"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="com.giao.ordersystem.Table_Pay" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name=".PrinterSetting"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance" >
            <intent-filter>
                <action android:name="com.giao.ordersystem.PrinterSetting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    <activity android:name=".DeviceList"
        android:label="@string/select_device"
        android:theme="@android:style/Theme.Dialog"></activity>


    <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
         App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
